
html,body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color:#FAFAFA ;
    overflow: auto;
}
.container{
    background-color: #FAFAFA;
    min-height: 100%;
}
.login {
    margin-top: 23.13px;
}

.login_button {
    width: 429px;
}

.butn_login {
    border-radius: 23px;
    margin-top: 31px;
    width: 138px;
    height: 45px;
    background-color: #C8242F;
    border: #C8242F;
}

.login_text {
    color: white;
    font-size: 18px;
    width: 45px;
    height: 24px;
    font-family: 'Roboto', sans-serif;
}

.sign_up {
    margin-top: 23.21px;
}

.new_memb {
    width: 160px;
    height: 24px;
    font-size: 15px;
    color: #ADADAD;
    font-family: 'Roboto', sans-serif;

}

.reg_link {
    color: #C8242F;
    height: 20px;
    width: 80px;
}
 @media only screen and (min-width: 1024px){
    

    .login_image{
        
        margin-left: 166px;
        margin-top: 72px;
        margin-bottom: 72px;
        
    }
    img.login_img{
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 4px 31px #0000000A;;
        border: 20px solid #FFFFFF;
        
    }
    .right_box{
        float:right;
        margin-top: 34px;
        margin-right: 155px;
        
        
    }
    #comp_logo{
        top: 106px;
        left: 906px;
        width: 272px;
        height: 58px;
    }
    .tagline{
        
        color: #3E3E3E;
        align-items: left;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300px;
        margin-top: 19.17px;
        width: 100%;
    }
    .exp{
        color:#C8242F;
        font-family: 'Roboto Black', sans-serif;
        font-weight: 900px;
        width: 100%;
    }
    .loginacc{
        font-family: 'Roboto', sans-serif;
        font-weight: 400px;
        font-size: 25px;
        color: #3E3E3E;
        margin-top: 32px;
        height:33px;
        width: 260px;

    }
    .usernm{
        border: 1px solid #ADADAD;
        border-radius: 5px;
        margin-bottom: 27px;  
        margin-top: 24px;
        width: 429px;
        height: 49px;
    }
    .pswd{
        border: 1px solid #ADADAD;
        border-radius: 5px;
        width: 429px;
        height: 49px;
    }
    .login{
        margin-top: 23.13px;
    }
    .login_button{
        width:429px;
    }
    .butn_login{
        border-radius: 23px;
        margin-top: 31px;
        width: 138px;
        height: 45px;
        background-color: #C8242F;
        border: #C8242F;
    }

    .frg_pswd{
        color: #ADADAD;
        width: 121px;
        height: 20px;
        float:right;
        margin-top: 43px;
        margin-left: 170px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;

    }

}

 @media only screen and (min-width: 200px) and (max-width: 767px){
    .container{
        height: 100%;
    }
     
    .login_image {
        margin: 0%;
        }
    .login_img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0px 4px 31px #0000000A;
            
            border: 20px solid #FFFFFF;
            width: 50%;
        }
        .tagline {
            font-size: 25px;
            margin-top: auto;
        }
        .comp_logo{
            width: 50%;
        }
        .frg_pswd{
            color: #ADADAD;
                
                margin-top: 43px;
                margin-left: 0px;
                font-family: 'Roboto';
                font-size: 15px;
        }
        .right_box{
            width: 100%;
            margin-left: 20px;

        }
        #comp_logo {
            width: 50%;
        }
        
        .tagline {
        
        color: #3E3E3E;
        align-items: left;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300px;
        margin-top: 19.17px;
        width: 100%;
                }
        
        .exp {
        color: #C8242F;
        font-family: 'Roboto Black', sans-serif;
        font-weight: 900px;
        width: 100%;
        }
        
        .loginacc {
        font-family: 'Roboto', sans-serif;
        font-weight: 400px;
        font-size: 20px;
        color: #3E3E3E;
        margin-top: 32px;
        height: 33px;
        width: 260px;
        }
        
        .usernm {
        border: 1px solid #ADADAD;
        border-radius: 5px;
        margin-bottom: 27px;
        margin-top: 24px;
        width: 200px;
        height: 50px;
        }
        
        .pswd {
        border: 1px solid #ADADAD;
        border-radius: 5px;
        width: 200px;
        height: 50px;
        }
}
 @media only screen and (min-width: 768px) and (max-width: 1024px){
    .right_box{
        margin-left: 250px;
    }
        .login_image {
            margin: 0%;
        }
    
        .login_img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            object-fit: cover;
            box-shadow: 0px 4px 31px #0000000A;
    
            border: 20px solid #FFFFFF;
            width: 50%;
        }
    
        .tagline {
            font-size: 25px;
            margin-top: auto;
        }
    
        .comp_logo {
            width: 50%;
        }
    
        .frg_pswd {
            color: #ADADAD;
    
            margin-top: 43px;
            margin-left: 0px;
            font-family: 'Roboto';
            font-size: 15px;
        }
    
        
        #comp_logo {
            width: 50%;
        }
    
        .tagline {
    
            color: #3E3E3E;
            align-items: left;
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300px;
            margin-top: 19.17px;
            width: 100%;
        }
    
        .exp {
            color: #C8242F;
            font-family: 'Roboto Black', sans-serif;
            font-weight: 900px;
            width: 100%;
        }
    
        .loginacc {
            font-family: 'Roboto', sans-serif;
            font-weight: 400px;
            font-size: 20px;
            color: #3E3E3E;
            margin-top: 32px;
            height: 33px;
            width: 260px;
        }
    
        .usernm {
            border: 1px solid #ADADAD;
            border-radius: 5px;
            margin-bottom: 27px;
            margin-top: 24px;
            width: 200px;
            height: 50px;
        }
    
        .pswd {
            border: 1px solid #ADADAD;
            border-radius: 5px;
            width: 200px;
            height: 50px;
        }
}
/*dashboard styles*/
.container_d{
    background-color: #FAFAFA;
    height: 100vh;
    width: 100%;
    overflow: auto;
}
.icon{
    height:15px;
    width: auto;
}
.nav_bar{
    display: flex;
    list-style-type: none;
    margin: 0px;
    gap: 10px;
    background-color: #FFFFFF;
}
.john{
    font-family: 'Roboto';
    font-size: 16px;
}
.menu{
    width: 18px;
    height: auto;
    padding: 34px 0px 34px 29px;
}
.comp_logo{
    width:142px;
    height: auto;
    padding: 25px 0px 30px 25px;
}
.search_ip{
    margin-left: 77px;
    border: none;
    padding: 33px 0px 30px 0px;
}
.search_ip:focus{
    outline: none;
}
.notif{
    height: 22px;
    width: auto;
    margin-left: 700px;
    padding: 21px 21px 30px;
}
.profile_icon{
    width: 44px;
    height: auto;
    padding: 18px 0px 18px 0px;
}
.dropdown{
    width: 30px;
    height:28px;
    border:none;
    margin:30px 14px 31px 0px;
    background-color: #FFFFFF;
}
.sidebar{
    width: 242px;
    
    height: 1300px;
    border: none;
    background-color: #FFFFFF;
    top: 80px;
    float: left;   

}
.sidebar table{
    width: 183px;
    margin: 25px 29px 0px 30px;
    font-family: 'Roboto';
        font-size: 16px;
}
.sidebar table td{
    padding: 10px;
    border-radius: 5px;
}

.dashboard tr:nth-child(1){
    background-color: pink;
    color: #C8242F;
}
.analysis tr:nth-child(2) {
    background-color: pink;
    color: #C8242F;
}

.heading{
    font-size: 30px;
    font-family: 'Roboto Medium';
    width: 146px;
    height: auto;
    color: #000000;
}
.content_div{
    margin-left: 290px;
    margin-top: 41px;
    
}
.info{
    display: flex;
    width: 1217px;
    gap: 30px;
    background-color: #FAFAFA;
    margin-top: 22px;
}
.info_img{
    width: 28px;
    height: auto;
    padding: 41px 0px 41px 38px;
        
    
    
}
.info_text{
    
    font-family: 'Roboto';
    white-space: nowrap;
    color: #3E3E3E;
    font-size: 16px;
    width: 219px;
    height: 116px;
    /*padding-top: 41px;
    padding-left: 38px;*/
    background-color: #FFFFFF;
    
}
.text{
    float: right;
    padding: 21px;
}
.num{
    font-size: 25px;
    font-family: 'Roboto Medium';
    color: #3E3E3E;
}
.flex2{
    display: flex;
    gap: 30px;
    margin-top: 30px;
    width: auto ;
}
.sales{
   
    margin-top: 53px;
    width: 802px;
    height: 400px;
    
}
.saletxt{
    
    color: #3E3E3E;
    font-family: 'Roboto Medium';
    
    
    font-size: 22px;
    margin-top: 53px;
}
.condition{
    float: right;
    font-family: 'Roboto';
    font-weight: 300px;
    color: #ADADAD;
    margin-top: 10px;
} 
.yearly{
    color: #C8242F;
    text-decoration: underline;
    text-underline-offset: 8px;
}
.sale{
    width: auto;
    height: 400px;
    background-color: #FFFFFF;
    padding-top: 23px;
    padding-left: 29px;
    padding-right: 20px;
}
.datagraph{
    margin-top: 28px;
}
.sale_by_country{
    width: 350px;
    height: 398px;
    float: right;
    background-color: #FFFFFF;
    padding-top: 23px;
        padding-left: 29px;
        padding-right: 20px;
}
.salebcountry{
    
    font-size: 22px;
    font-family: 'Roboto Medium';
    font-weight: normal;
    color: #3E3E3E;
    
    
}
.piechart{
    display: block;
    margin-left: 60px;
    padding-top: 23px;
}
.country{
    border: none;
    margin-left: 49px;
}
table.country td{
    padding: 5px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #3E3E3E;
}
.dot1 {
    height: 10px;
    width: 10px;
    background-color: #C8242F;
    border-radius: 50%;
    display: inline-block;
}
.dot2 {
    height: 10px;
    width: 10px;
    background-color: #A2B86C;
    border-radius: 50%;
    display: inline-block;
}
.dot3 {
    height: 10px;
    width: 10px;
    background-color: #F16C20;
    border-radius: 50%;
    display: inline-block;
}
.dot4 {
    height: 10px;
    width: 10px;
    background-color: #EBC844;
    border-radius: 50%;
    display: inline-block;
}
.invoice {
    margin-top: 53px;
    background-color: #FFFFFF;
    width: min-content;
    padding-left: 35px;
    padding-top: 22px;
    height: 558px;
}
.invoice_txt{
    font-size: 22px;
    font-family: 'Roboto Medium';
    color: #3E3E3E;
}
.invoice u{
    color: #C8242F;
    float: right;
    margin-right: 29px;
    text-underline-offset: 2px;
    font-family: 'Roboto';
}
.invoice_tbl{
    width: 1177px;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 38px;
    padding: 0px;
    text-align: left;
}
table.invoice_tbl td{
    padding-top: 27px;
    padding-right: 60px;
    color: #3E3E3E;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400px;
}
table.invoice_tbl th{
    color: #ADADAD;
    font-family: 'Roboto';
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.paid{
   color: #3CDD5F;
}
.failed{
    color: #FF4545;
}
.pending{
    color: #BABABA;
}
.analysis{
    display: flex;
}
.subcontent{
    background-color: #FFFFFF;
    width: 1218px;
}
.subheading{
    font-size: 22px;
    font-family: 'Roboto Medium';
    color: #3E3E3E;
    margin-bottom: 15px;
    
}
.part1{
    margin-left: 29px;
        margin-top: 22px;
        padding-top: 12px;
}
.part{
    margin-left: 29px;
    margin-top: 44px;
}
.grid1{
    display: grid;
    row-gap: 21px;
    grid-template-columns: 1157px;
}


.name_cl1{
    height: 49px;
    width: 1157px;
    border-radius: 5px;
    border: 1px solid #ADADAD;
}
.dropdownbtn {

    width: 1157px;
    height: 49px;
    border-radius: 5px;
    text-align: left;
    border: 1px solid #ADADAD;
    font-family: 'Roboto';
    
}
.textarea{
    overflow: auto;
    width: 1157px;
    height: 130px;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
.toppart{
    display: grid;
    grid-template-columns: 563px 563px;
    column-gap: 30px;
    row-gap: 20px;
    position: relative;
}
.name2{
    width: 563px;
    height: 49px;
    border-radius: 5px;
    border: 1px solid #ADADAD;
}
.username_lbl{
    position: absolute;

  top: -7px;
  left: 610px;
  background-color: #FFFFFF;
  color: #ADADAD;
  font-family: 'Roboto';
  font-size: 12px;
}
.username2{
    width: 563px;
        height: 49px;
        border-radius: 5px;
        border: 1px solid #ADADAD;
}
.password2{
    width: 563px;
        height: 49px;
        border-radius: 5px;
        border: 1px solid #ADADAD;
}
.toppart select{
    width: 563px;
        height: 49px;
        border-radius: 5px;
        border: 1px solid #ADADAD;
}
.grid3{
    display: grid;
    grid-template-columns: 364px 364px 364px;
    column-gap: 32px;
    position: relative;

}
.text_g3{
    border: 1px solid #C8242F;
    border-radius: 5px;
    height: 47px;
    
    
}
.label_name{
    position: absolute;
    top: -7px;
    left: 12px;
    background-color: #FFFFFF;
    color: #ADADAD;
    font-family: 'Roboto';
    font-size: 12px;
}
.label_pswd{
    position: absolute;
    top: -7px;
    left: 400px;
    background-color: #FFFFFF;
    color: #ADADAD;
    font-family: 'Roboto';
    font-size: 12px;
}
.label_username{
    position: absolute;
        top: -7px;
        left: 800px;
        background-color: #FFFFFF;
        color: #ADADAD;
        font-family: 'Roboto';
        font-size: 12px;
}
.pswd_g3{
    border: 1px solid #ADADAD;
        border-radius: 5px;
        height: 47px;
}
.name_g3{
    border: 1px dashed #ADADAD;
        border-radius: 5px;
        height: 47px;
}
.grid4{
    display: grid;
    grid-template-columns: 266px 266px 266px 266px;
    grid-template-rows: 47px;
    column-gap: 31px;
    position: relative;
}
.ui_label{
    position: absolute;
        top: -7px;
        left: 10px;
        background-color: #FFFFFF;
        color: #FF3B3B;
        font-family: 'Roboto';
        font-size: 12px;
}
.error_ip{
    position: absolute;
        top: 60px;
        left: 10px;
        background-color: #FFFFFF;
        color: #FF3B3B;
        font-family: 'Roboto';
        font-size: 12px;
}
.error_ip2{
    position: absolute;
        top: 60px;
        left: 300px;
        background-color: #FFFFFF;
        color: #ADADAD;
        font-family: 'Roboto';
        font-size: 12px;
}
.designation_g4{
    border: 1px solid #FF3C3C;
    border-radius: 5px;
}
.name_g4{
    border: 1px solid #ADADAD;
        border-radius: 5px;
}
.dropdown_g4{
    border: 1px solid #ADADAD;
        border-radius: 5px;
}
.section{
    text-align: left;
    font-size: 18px;
    font-family: 'Roboto Medium';
    color: #3E3E3E;
    margin-bottom: 15px;
}
.file{
    cursor: pointer;
    width: 124px;
    height: 36px;
    border: 1px solid #C8242F;
    border-radius: 18px;
    background-color: #FFFFFF;
    color: #C8242F;
    font-family: 'Roboto';
}
.no-item{
    float: right;
    margin-right: 954px;
    margin-top: 10px;
    font-family: 'Roboto';
    font-size: 12px;
    color: #ADADAD;
}
.options_g{
    display: grid;
    column-gap: 42px;
    grid-template-columns: 100px 100px;
}
.radio input{
    appearance: none;
    
        border-radius: 50%;
        width: 16px;
        height: 16px;
    
        border: 2px solid #999;
        transition: 0.2s all linear;
        margin-right: 5px;
    
        position: relative;
        top: 4px;
}
.radio input:checked{
border: 6px solid #C8242F;

}
.options{
    font-size: 15px;
    font-family: 'Roboto';
    color: #3E3E3E;
    margin-left: 9px;
}
.snackbar{
    display: grid;
    grid-template-columns: 563px 563px;
    grid-template-rows: 44px 44px;
    gap: 33px;
}
.snackbar img{
    height: 15px;
    width: auto;
}
.error{
    border: 1px solid #FF3535;
    padding: 10px;
    border-radius: 5px;
}
.information{
    border: 1px solid #00B9E1;
    border-radius: 5px;
    padding: 10px;
}
.warning{
    border: 1px solid #FFA800;
    border-radius: 5px;
    padding: 10px;
}
.success{
    border: 1px solid #00AF27;
        border-radius: 5px;
    padding: 10px;
}
.error_text{
    color: #FF3535 ;
    font-family: "Roboto";
    margin-left: 5px;
}
.information_text{
    color: #00B9E1;
    font-family: "Roboto";
    margin-left: 5px;
}
.warning_text{
    color: #FFA800;
    font-family: 'Roboto';
    margin-left: 5px;
}
.success_text{
    color: #00AF27;
    font-family: 'Roboto';
    margin-left: 5px;
}
.primary{
    width: 124px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    border: #C8242F;
}
.primary span{
    font-family: 'Roboto';
    font-size: 18px;
    color: #FFFFFF;
}
.secondary{
    width: 124px;
        height: 45px;
    background-color: #FFFFFF;
        border-radius: 23px;
        border: 1px solid #C8242F;
        margin-left: 10px;
}
.secondary span{
    font-family: 'Roboto';
        font-size: 18px;
        color: #C8242F;
}
.tab{
    overflow: hidden;
    border: 0px;
}
.tab button{
    float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        background-color: #FFFFFF;
        font-size: 15px;
        font-family: 'Roboto';
        font-weight: 500px;
        color: #ADADAD;
        
        
}
.tab button:hover {
    color: #C8242F;
    text-decoration: underline;
    text-underline-offset: 18px;
    font-family: 'Roboto Medium';
    
}

.tab_content{
    float: left;
    /*margin-top: 26px;
    margin-left: 30px;*/
   
    
    border-top: 1px solid #ADADAD;
    padding-top: 26px;
    font-family: 'Roboto';
    font-size: 15px;
    color: #3E3E3E;
    padding-bottom: 36px;
}